html {
    border: 5px transparent solid;
    border-image: linear-gradient(180deg, #FE0000 16.66%,
		#FD8C00 16.66%, 33.32%,
		#FFE500 33.32%, 49.98%,
		#119F0B 49.98%, 66.64%,
		#0644B3 66.64%, 83.3%,
		#C22EDC 83.3%);
    border-image-slice: 1;
    min-height: calc(100% - 10px);
    margin: 0;
}
body {
    padding: 5px;
    min-height: 100%;
    margin: 0;
}