<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% block HEAD %}
        <link rel="stylesheet" href="/assets/style.css">
        <link rel="stylesheet" href="/assets/baseColorConf.css">
        <link rel="stylesheet" href="/assets/rainbowBorder.css">
    {% endblock %}
    <title>{% block TITLE %}Placeholder{% endblock %} - {{ C.domain }}</title>
</head>
<body>
{% block CONTENT %}
Placeholder
{% endblock %}
</body>
</html>